deepwalk_graph/wn_*
deepwalk_graph/nodes.pkl
deepwalk_graph/shit.py
deepwalk_graph/wordnet_hypernym.adjlist
deepwalk_graph/deepwalk-master
dataset_with_sampling
VERSE/
combined.npy
*.npy
results/
bert-model/
Training_Corpora/
v_env/
Evaluation_Datasets/
target/
embeddings/
__pycache__/
wordnet/
.DS_Store
data